<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('../../assets/img/Pic_Landing.jpg')">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <h1 class="presentation-title">Foto's</h1>
              </div>

              <h2 class="presentation-subtitle text-center">Foto's van 2018</h2>
              <p class="text-center" style="color:white;">Ann Caufrier<br/>Myriam Querter<br/>Peter Mathijssens<br/>Tom Buysse<br/>Rony Coevoet</p>
          </div>
      </div>
      <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  </div>
  <div class="main">
         <ngx-image-gallery class="gallery"
        [images]="images" 
        [conf]="conf"
        (onOpen)="galleryOpened($event)"
        (onClose)="galleryClosed()"
        (onImageClicked)="galleryImageClicked($event)"
        (onImageChange)="galleryImageChanged($event)"
        (onDelete)="deleteImage($event)"
        ></ngx-image-gallery>
  </div>
<div class="text-center" style="white-space: pre;">
    PARIJS-ROUBAIX 2018
    Iedereen was alweer op tijd paraat
    Eigenlijk altijd, als er amusement op ’t menu staat
    Iedereen voelde zich duidelijk in zijn nopjes
    De organisatoren, JLR, kregen alweer schouderklopjes.
    
    We begonnen met een glas cava en verschillende wraps,
    Maar het enige dat er niet tussen lag, was een schel heps!
    Zo’n rustig aperitiefmoment waarderen we wel
    Zo net voor ons vertrek naar het noorden z’n hel!
    
    Op de bus kregen we toch wel een heel aparte melding
    Als de heren last kregen van hun “kwelding”
    Moesten ze hun lading ergens in de natuur lozen
    Want op het toilet van de bus: dat was uit den bozen!
    
    Ze zagen dit keer alles door een roze lens
    En kozen ze voor de slurf van Delirium Tremens
    En toen we op onze eerste stopplaats waren aan gekomen
    Dacht de politie daar: nu ben ik toch aan het dromen
    
    Vooral die ene, struisere flic
    Was duidelijk niet in zijn schik
    Hij riep maar dat de bus daar zo rap mogelijk weg moest
    Ja, zelfs Sylvia werd een heel klein beetje woest!
    
    Onze tweede stopplaats konden we net niet halen
    Dat was toch wel een heel klein beetje balen
    Door het mooie weer
    Was er daar heel veel verkeer!
    
    De renners reden dan ook nog eens razendsnel
    Er lag dan ook geen spatje modder meer in de hel!
    Ja, ze reden echt wel heel ferm
    Wij dus direct naar op weg naar het grote scherm!
    
    Daar werden we ook nog eens op de proef gesteld
    In een spelletje petanque werd het verschil geteld
    Tussen de kleine en de grote bal
    Dat gaat uitmaken wie er winnen zal!
    
    Het avondeten was een echt festijn
    Met de koks hun eigen “kok au vin”
    Voor sommigen was “kok au bière” misschien meer correct,
    maar toch zeggen we tegen die mannen: respect!
    
    Zo was het alweer een ontspannende jubileumeditie
    volgens de goede, oude traditie!
    Zoals ieder jaar kijken we nu ook al uit naar volgend jaar:
    wij houden alvast onze (roze) slurf klaar!!
    
</div>
</div>