<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('../../assets/img/IMG_0258.JPG')">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <h1 class="presentation-title">Een dag in de hel</h1>
              </div>

              <h2 class="presentation-subtitle text-center">De Parijs-Roubaix ervaring</h2>
          </div>
      </div>
      <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  </div>
  <div class="main">
      <p>Pictures?</p>
        <ngx-image-gallery 
        [images]="images" 
        [conf]="conf"
        (onOpen)="galleryOpened($event)"
        (onClose)="galleryClosed()"
        (onImageClicked)="galleryImageClicked($event)"
        (onImageChange)="galleryImageChanged($event)"
        (onDelete)="deleteImage($event)"
        ></ngx-image-gallery>
  </div>
</div>