<div class="section section-info">
    <div class="container">
        <div class="tim-title">
            <h2 class="text-center">Algemene info</h2>
        </div>
        <vertical-timeline>
            <vertical-timeline-card
                    [dateValue]="PR2019"
                    [timeString]="'7:45'">
                <h4>Verwelkoming in Ganzendreef 2 te Lokeren</h4>
                <p>In afwachting van iedereen zijn aanwezigheid is er een verwelkoming met bubbels en een hapje.</p>
            </vertical-timeline-card>

            <vertical-timeline-card
                    [dateValue]="PR2019"
                    [timeString]="'8:30'">
                <h4>Stipt vertrek</h4>
                <p>We vertrekken naar onze eerste stopplaats.</p>
            </vertical-timeline-card>


            <vertical-timeline-card
                    [dateValue]="PR2019"
                    [timeString]="'11:15'">
                <h4>Aankomst 1ste stopplaats</h4>
                <p>Hier nemen we een ontbijt. Het ontbijt is traditie gewijs spek met eieren.</p>
            </vertical-timeline-card>


            <vertical-timeline-card
                    [dateValue]="PR2019"
                    [timeString]="'13:30'">
                <h4>Vertrek naar de Carrefour de l'arbre</h4>
                <p>Na de passage vertrekken we richting de Carrefour de l’arbre voor de ultieme sfeerbeleving van de
                    kasseiklassieker. Tijdens de busrit kan de koers gevolgd worden via Sporza op uw smartphone.</p>
            </vertical-timeline-card>

            <vertical-timeline-card
                    [dateValue]="PR2019"
                    [timeString]="'14:30'">
                <h4>Aankomst op de Carrefour de l'arbre</h4>
                <p>Ter plaatse kan u de koers op groot scherm beleven of dompel u onder tussen de wielerliefhebbers om
                    van de sfeer te genieten!</p>
            </vertical-timeline-card>


            <vertical-timeline-card
                    [dateValue]="PR2019"
                    [timeString]="'17:15'">
                <h4>Avondmaal</h4>
                <p> Na de laatste renner keren we terug naar de bus om na te kaarten en te
                    kokkerellen.</p>
            </vertical-timeline-card>


            <vertical-timeline-card
                    [dateValue]="PR2019"
                    [timeString]="'20:00'">
                <h4>Terugreis naar Lokeren</h4>
                <p>Geen getreur want we zorgen nog voor de nodige animatie aan boord van de bus.</p>
            </vertical-timeline-card>


            <vertical-timeline-card
                    [dateValue]="PR2019"
                    [timeString]="'21:00'">
                <h4>Aankomst in Lokeren</h4>
                <p>Dan zit deze geweldige dag erop.</p>
            </vertical-timeline-card>
        </vertical-timeline>
    </div>
</div>