<div class="section section-info">
  <div class="container">
      <div class="tim-title">
          <h2 class="text-center">Algemene info</h2>
      </div>
      <vertical-timeline>
          <vertical-timeline-card
           [dateValue]="PR2018"
          [timeString]="'7:45'">
            <h4>Verwelkoming in Ganzendreef 2 te Lokeren</h4>
            <p>In afwachting van iedereen zijn aanwezigheid is er een verwelkoming met bubbels en een hapje.</p>
          </vertical-timeline-card>

          <vertical-timeline-card
          [dateValue]="PR2018"
         [timeString]="'8:30'">
           <h4>Stipt vertrek</h4>
           <p>We vertrekken naar onze eerste stopplaats in Incy. Dit is de 2de kasseistrook op het parcours.</p>
         </vertical-timeline-card>
  


        <vertical-timeline-card
        [dateValue]="PR2018"
       [timeString]="'11:15'">
         <h4>Aankomst inIncy</h4>
         <p>Hier nemen we een ontbijt. Het ontbijt is traditie gewijs spek met eieren.</p>
       </vertical-timeline-card>



      <vertical-timeline-card
      [dateValue]="PR2018"
     [timeString]="'13:30'">
       <h4>Vertrek naar de 2de stop</h4>
       <p>De 2de stopplaats is in de buurt van het bos van Wallers deze kan wijzigen afhankelijk van het parcours/weersomstandigheden.</p>
     </vertical-timeline-card>



    <vertical-timeline-card
    [dateValue]="PR2018"
   [timeString]="'14:15'">
     <h4>Aankomst 2de stopplaats</h4>
     <p>Aankomst op de 2de stopplaats jullie krijgen hier ook een versnapering om tijdens de korte wandeling naar het parcours op te eten.</p>
   </vertical-timeline-card>



  <vertical-timeline-card
  [dateValue]="PR2018"
 [timeString]="'15:15'">
   <h4>Aankomst op de Carrefour de l'arbre</h4>
   <p>Op onze laatste stop staat normaal gezien ook een groot scherm en kan je hier de koers zien aankomen. Hier blijven we tevens supporteren tot de laatste renner daar is gepasseerd.</p>
 </vertical-timeline-card>


<vertical-timeline-card
[dateValue]="PR2018"
[timeString]="'17:15'">
 <h4>Avondmaal</h4>
 <p>Dit jaar is het eten na de finish Frans getint.</p>
</vertical-timeline-card>


<vertical-timeline-card
[dateValue]="PR2018"
[timeString]="'20:00'">
 <h4>Terugreis naar Lokeren</h4>
 <p>Geen getreur want we zorgen nog voor de nodige animatie aan boord van de bus.</p>
</vertical-timeline-card>


<vertical-timeline-card
[dateValue]="PR2018"
[timeString]="'21:00'">
 <h4>Aankomst in Lokeren</h4>
 <p>Dan zit deze geweldige dag erop.</p>
</vertical-timeline-card>
</vertical-timeline>
  </div>
</div>