<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('../../assets/img/whoarewe/IMG_0139.jpg')">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <h1 class="presentation-title">Wie zijn wij</h1>
              </div>

           </div>
      </div>
      <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  </div>
  <div class="main">
      <div class="section section-info">
          <div class="container">
              <div class="tim-title">
                  <h2 class="text-center">Wie zijn wij</h2>
              </div>
            <p>We zijn collega's en vrienden die houden van het wielrennen. Met een dag in de hel organiseren wij onder vrienden een dag uitstap naar Parijs-Roubaix waar plezier centraal staat.</p>
        <h3>Het team</h3>
        <div class="row">
            <div _ngcontent-c8="" class="col-xs-6  col-sm-4 offset-md-1">
                <img _ngcontent-c8="" alt="Rounded Image" 
                class="img-circle img-no-padding img-responsive" 
                src="assets/img/whoarewe/Luc.jpg">
                <h4 _ngcontent-c8="" class="text-center">Luc <br>0486/ 22 27 32<br>luc.belone@gmail.com</h4>
            </div>
            <div _ngcontent-c8="" class="col-xs-6  col-sm-4 offset-md-1">
                <img _ngcontent-c8="" alt="Rounded Image" 
                class="img-circle img-no-padding img-responsive" 
                src="assets/img/whoarewe/Jo.jpg">
                <h4 _ngcontent-c8="" class="text-center">Jo<br>0476/48 31 17<br>jo.linthout@telenet.be</h4>
            </div>
            <div _ngcontent-c8="" class="col-xs-6  col-sm-4 offset-md-1">
                <img _ngcontent-c8="" alt="Rounded Image" 
                class="img-circle img-no-padding img-responsive" 
                src="assets/img/whoarewe/Rony.jpg">
                <h4 _ngcontent-c8="" class="text-center">Rony<br>0486/ 61 24 66<br>rony.coevoet@scarlet.be </h4>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
