<div class="section">
  <div class="container">
      <div class="tim-title">
          <h2 class="text-center" >Partners</h2>
      </div>

      <div class="row">
          <div class="col-xs-6  col-sm-4 col-md-3 offset-md-1">
              <h4 class="text-center images-title">De betere azalea</h4>
              <img src="../../../assets/img/partners/De beter azalea.v1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
          </div>
          <div class="col-xs-6  col-sm-4 col-md-3 offset-md-1">
              <h4 class="text-center images-title">De pretre</h4>
              <img src="../../../assets/img/partners/De pretre.v1.png" class="img-thumbnail img-responsive" alt="Rounded Image">
          </div>
          <div class="col-xs-6  col-sm-4 col-md-3 offset-md-1">
              <h4 class="text-center images-title">De fijnproever</h4>
              <img src="../../../assets/img/partners/De fijnproever.v1.png" class="img-thumbnail img-responsive" alt="Rounded Image">
          </div>
          <div class="col-xs-6  col-sm-4 col-md-3 offset-md-1">
              <h4 class="text-center images-title">Delerium Tremens</h4>
              <img src="../../../assets/img/partners/delirium-tremens-logo.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
          </div>
      </div>
</div>
</div>