<div class="section">
    <div class="container">
        <div class="tim-title">
            <h2 class="text-center">De dag</h2>
        </div>
        <div class="row">
       <!-- <countdown [config]="config">
            <div class="time">$!d!
              <div class="label">dagen</div>
            </div>
            <div class="time">$!h!
              <div class="label">uren</div>
            </div>
            <div class="time">$!m!
              <div class="label">minuten</div>
            </div>
            <div class="time">$!s!
              <div class="label">seconden</div>
            </div>
        </countdown>-->
      </div>
  </div>
  </div>