<div class="wrapper">
    <div class="header section-dark">

    </div>
    <div class="main">
        <h1>Inschrijving</h1>
        <form [formGroup]="subscribeForm" (ngSubmit)="save()">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Voornaam:*</label>
                        <input type="text" class="form-control" formControlName="firstName">
                        <p *ngIf="!subscribeForm.get('firstName').valid && subscribeForm.get('firstName').touched" 
                            class="alert alert-danger"><sup>*</sup>Vul uw voornaam in aub</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Achternaam:*</label>
                        <input type="text" class="form-control" formControlName="lastName">
                        <p *ngIf="!subscribeForm.get('lastName').valid && subscribeForm.get('lastName').touched"
                            class="alert alert-danger"><sup>*</sup>Vul uw achternaam in aub
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>email:*</label>
                        <input type="text" class="form-control" formControlName="email">
                        <p *ngIf="subscribeForm.get('email').hasError('required') && subscribeForm.get('email').touched"
                            class="alert alert-danger"><sup>*</sup>Vul uw email in aub
                        </p>
                        <p *ngIf="subscribeForm.get('email').hasError('email') && subscribeForm.get('email').touched"
                            class="alert alert-danger"><sup>*</sup>Vul een geldig email in aub
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>gsmnummer:*</label>
                        <input type="text" class="form-control" formControlName="phoneNumber">
                        <p *ngIf="subscribeForm.get('phoneNumber').hasError('required') && subscribeForm.get('phoneNumber').touched"
                            class="alert alert-danger"><sup>*</sup>Vul uw gsmnummer in aub
                        </p>
                        <p *ngIf="subscribeForm.get('phoneNumber').hasError('minlength') && subscribeForm.get('phoneNumber').touched"
                            class="alert alert-danger"><sup>*</sup>Een gsmnummer heeft 10 nummers
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-12">
                    <div class="form-group">
                        <label>Straat:*</label>
                        <input type="text" class="form-control" formControlName="streetName">
                        <p *ngIf="!subscribeForm.get('streetName').valid && subscribeForm.get('streetName').touched"
                            class="alert alert-danger"><sup>*</sup>Vul uw straat in aub
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>Straatnummer:*</label>
                        <input type="text" class="form-control" formControlName="streetNumber">
                        <p *ngIf="!subscribeForm.get('streetNumber').valid && subscribeForm.get('streetNumber').touched"
                            class="alert alert-danger"><sup>*</sup>Vul uw straatnummer in aub
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>Postcode:*</label>
                        <input type="text" class="form-control" formControlName="postalcode">
                        <p *ngIf="subscribeForm.get('postalcode').hasError('required') && subscribeForm.get('postalcode').touched"
                            class="alert alert-danger"><sup>*</sup>Vul uw postcode in aub
                        </p>
                        <p *ngIf="subscribeForm.get('postalcode').hasError('pattern') && subscribeForm.get('postalcode').touched"
                        class="alert alert-danger"><sup>*</sup>Een postcode is 4 tekens
                        </p>
                    </div>
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12">
                    <div class="form-group">
                        <label>Gemeente:*</label>
                        <input type="text" class="form-control" formControlName="city">
                        <p *ngIf="!subscribeForm.get('city').valid && subscribeForm.get('city').touched"
                            class="alert alert-danger"><sup>*</sup>Vul uw gemeente in aub
                        </p>
                    </div>
                </div>
            </div>
            <p class="consent">
                Door op Inschrijven te klikken, ga je akkoord dat er foto's tijdens het event mogen genomen worden.
                Deze foto's mogen tevens ook gebruikt worden door de organisatie op de site (www.eendagindehel.be) en de uitnodigingsmail.
                Dat de beelden en gegevens in bovenstaand formulier die het onderwerp van deze toestemming bevatten, door de organisatie worden bewaard in overeenstemming met en in overeenstemming met de GDPR-richtlijnen (de algemene verordening inzake gegevensbescherming).
            </p>
               <button type="submit" class="btn btn-primary btn-lg btn-block">Inschrijven</button>
        </form>
    </div>
</div>