<div class="wrapper">
    <div class="header section-dark">

    </div>
    <div class="main">
        <form [formGroup]="subscribeForm" (ngSubmit)="save()">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>firstName:*</label>
                        <input type="text" class="form-control" formControlName="firstName">
                        <p *ngIf="!subscribeForm.get('firstName').valid && subscribeForm.get('firstName').touched" 
                            class="alert alert-danger"><sup>*</sup>Please enter a first name</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>lastName:*</label>
                        <input type="text" class="form-control" formControlName="lastName">
                        <p *ngIf="!subscribeForm.get('lastName').valid && subscribeForm.get('lastName').touched"
                            class="alert alert-danger"><sup>*</sup>Please enter a last name
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>email:*</label>
                        <input type="text" class="form-control" formControlName="email">
                        <p *ngIf="subscribeForm.get('email').hasError('required') && subscribeForm.get('email').touched"
                            class="alert alert-danger"><sup>*</sup>Please enter a email
                        </p>
                        <p *ngIf="subscribeForm.get('email').hasError('email') && subscribeForm.get('email').touched"
                            class="alert alert-danger"><sup>*</sup>Please enter a valid email
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>phoneNumber:*</label>
                        <input type="text" class="form-control" formControlName="phoneNumber">
                        <p *ngIf="subscribeForm.get('phoneNumber').hasError('required') && subscribeForm.get('phoneNumber').touched"
                            class="alert alert-danger"><sup>*</sup>Please enter a phoneNumber
                        </p>
                        <p *ngIf="subscribeForm.get('phoneNumber').hasError('minlength') && subscribeForm.get('phoneNumber').touched"
                            class="alert alert-danger"><sup>*</sup>A phoneNumber has at least 10 digits
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-md-8 col-sm-12">
                    <div class="form-group">
                        <label>streetName:*</label>
                        <input type="text" class="form-control" formControlName="streetName">
                        <p *ngIf="!subscribeForm.get('streetName').valid && subscribeForm.get('streetName').touched"
                            class="alert alert-danger"><sup>*</sup>Please enter a streetName
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>streetNumber:*</label>
                        <input type="text" class="form-control" formControlName="streetNumber">
                        <p *ngIf="!subscribeForm.get('streetNumber').valid && subscribeForm.get('streetNumber').touched"
                            class="alert alert-danger"><sup>*</sup>Please enter a streetNumber
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>postalcode:*</label>
                        <input type="text" class="form-control" formControlName="postalcode">
                        <p *ngIf="subscribeForm.get('postalcode').hasError('required') && subscribeForm.get('postalcode').touched"
                            class="alert alert-danger"><sup>*</sup>Please enter a postalcode
                        </p>
                        <p *ngIf="subscribeForm.get('postalcode').hasError('pattern') && subscribeForm.get('postalcode').touched"
                        class="alert alert-danger"><sup>*</sup>A postalcode has 4 digits
                        </p>
                    </div>
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12">
                    <div class="form-group">
                        <label>city:*</label>
                        <input type="text" class="form-control" formControlName="city">
                        <p *ngIf="!subscribeForm.get('city').valid && subscribeForm.get('city').touched"
                            class="alert alert-danger"><sup>*</sup>Please enter a city
                        </p>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn-green-standard">submit
            </button>
        </form>
    </div>
</div>